/*
	Author: Sergio Terrasi a.k.a. Nerdissimo
	Website: http://www.nerdissimo.it
	email: dev@nerdissimo.it
	GitHub: https://github.com/Nerdissimo/
	Twitter: @Nerdissimo
*/
@charset 'utf-8';
.plasmon {
	background-color:#fa7c25;
	background-image:-webkit-linear-gradient(bottom, #fa7c25 0%, #fbce5b 100%);
	background-image:-moz-linear-gradient(bottom, #fa7c25 0%, #fbce5b 100%);
	background-image:-ms-linear-gradient(bottom, #fa7c25 0%, #fbce5b 100%);
	background-image:-o-linear-gradient(bottom, #fa7c25 0%, #fbce5b 100%);
	background-image:linear-gradient(bottom, #fa7c25 0%, #fbce5b 100%);
	border:1px #fa7c25 solid;
	-webkit-border-radius:27px;
	-moz-border-radius:27px;
	-ms-border-radius:27px;
	-o-border-radius:27px;
	border-radius:27px;
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-ms-box-shadow: 5px 5px 5px #888;
	-o-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	height:75px;
	padding:0;
	text-align:center;
	width:300px;
}
.plasmon:after {
	color:#fa7c25;
	content:"PLASMON";
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-size:35px;
	line-height:75px;
	-webkit-text-shadow: -1px -1px #7a3820;
	-moz-text-shadow: -1px -1px #7a3820;
	-ms-text-shadow: -1px -1px #7a3820;
	-o-text-shadow: -1px -1px #7a3820;
	text-shadow: -1px -1px #7a3820;
}

.macine {
	background-color:#df9146;
	background-image:-webkit-linear-gradient(top left, #fed57b 0%, #df9146 100%);
	background-image:-moz-linear-gradient(top left, #fed57b 0%, #df9146 100%);
	background-image:-ms-linear-gradient(top left, #fed57b 0%, #df9146 100%);
	background-image:-o-linear-gradient(top left, #fed57b 0%, #df9146 100%);
	background-image:linear-gradient(top left, #fed57b 0%, #df9146 100%);
	border:0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-ms-box-shadow: 5px 5px 5px #888;
	-o-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	height:195px;
	padding:0;
	position:relative;
	width:195px;
}
.macine:after {
	background-color:#fff;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow: -5px -5px 15px #9d4e25;
	-moz-box-shadow: -5px -5px 15px #9d4e25;
	-ms-box-shadow: -5px -5px 15px #9d4e25;
	-o-box-shadow: -5px -5px 15px #9d4e25;
	box-shadow: -5px -5px 15px #9d4e25;
	content:"";
	display:block;
	height:15%;
	left:50%;
	margin-left:-7.5%;
	margin-top:-7.5%;
	position:absolute;
	top:50%;
	width:15%;
}

.abbracci {
	background-color:transparent;
	border:90px #f6b94e solid;
	border-top:90px #713421 solid;
	border-left:90px #713421 solid;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow:5px 1px 5px #888, inset 5px 1px 5px #888;
	-moz-box-shadow:5px 1px 5px #888, inset 5px 1px 5px #888;
	-ms-box-shadow:5px 1px 5px #888, inset 5px 1px 5px #888;
	-o-box-shadow:5px 1px 5px #888, inset 5px 1px 5px #888;
	box-shadow:5px 1px 5px #888, inset 5px 1px 5px #888;
	height:30px;
	padding:0;
	position:relative;
	-webkit-transform:rotate(45deg);
	-moz-transform:rotate(45deg);
	-ms-transform:rotate(45deg);
	-o-transform:rotate(45deg);
	transform:rotate(45deg);
	width:30px;
}
.abbracci:before {
	background-color:#f6b94e;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	content:"";
	height:300%;
	left:-224%;
	position:absolute;
	top:60%;
	width:300%;
}
.abbracci:after {
	background-color:#f6b94e;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	content:"";
	height:300%;
	left:51%;
	position:absolute;
	top:-232%;
	width:300%;
}

.pandistelle {
	background-color:#431610;
	background-image:-webkit-radial-gradient(center, ellipse cover, #622012 0%,#431610 100%);
	background-image:-moz-radial-gradient(center, ellipse cover, #622012 0%,#431610 100%);
	background-image:-ms-radial-gradient(center, ellipse cover, #622012 0%,#431610 100%);
	background-image:-o-radial-gradient(center, ellipse cover, #622012 0%,#431610 100%);
	background: radial-gradient(ellipse at center,  #622012 0%,#431610 100%);
	border:0;
	-webkit-border-radius:50%;
	-moz-border-radius:50%;
	-ms-border-radius:50%;
	-o-border-radius:50%;
	border-radius:50%;
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-ms-box-shadow: 5px 5px 5px #888;
	-o-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	font-size:25px;
	height:200px;
	line-height:40px;
	padding:0;
	width:200px;
}
.pandistelle:after {
	color:#deeee4;
	content:"\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\2605\A\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\2605\0000a0\0000a0\0000a0\0000a0\0000a0\2605\0000a0\0000a0\0000a0\0000a0\0000a0\2605\A\0000a0\0000a0\0000a0\2605\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\2605\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\2605\A\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\2605\0000a0\0000a0\0000a0\0000a0\0000a0\2605\0000a0\0000a0\0000a0\0000a0\2605\A\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\0000a0\2605";
	-webkit-text-shadow: 2px 2px #1a0f0d;
	-moz-text-shadow: 2px 2px #1a0f0d;
	-ms-text-shadow: 2px 2px #1a0f0d;
	-o-text-shadow: 2px 2px #1a0f0d;
	text-shadow: 2px 2px #1a0f0d;
	position:absolute;
	white-space:pre;
}

.irigoli {
	background-color:#d49d4b;
	background-image:-webkit-linear-gradient(transparent 50%, #cc8032 50%);
	background-image:-moz-linear-gradient(transparent 50%, #cc8032 50%);
	background-image:-ms-linear-gradient(transparent 50%, #cc8032 50%);
	background-image:-o-linear-gradient(transparent 50%, #cc8032 50%);
	background-image:linear-gradient(transparent 50%, #cc8032 50%);
	background-size:14px;
	-webkit-border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	border-radius:5px;
	-webkit-box-shadow: 5px 5px 5px #888;
	-moz-box-shadow: 5px 5px 5px #888;
	-ms-box-shadow: 5px 5px 5px #888;
	-o-box-shadow: 5px 5px 5px #888;
	box-shadow: 5px 5px 5px #888;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	height:140px;
	position:relative;
	text-align:center;
	width:220px;
}
.irigoli:after {
	background-color:#d99b46;
	color:#cc8032;
	content:"I RIGOLI";
	display:block;
	font-family:Helvetica, Verdana, Arial, sans-serif;
	font-size:41px;
	height:45px;
	left:0;
	line-height:45px;
	margin-top:-22px;
	overflow:hidden;
	position:absolute;
	right:0;
	-webkit-text-shadow: 2px 2px #d49d4b;
	-moz-text-shadow: 2px 2px #d49d4b;
	-ms-text-shadow: 2px 2px #d49d4b;
	-o-text-shadow: 2px 2px #d49d4b;
	text-shadow: 2px 2px #d49d4b;
	top:50%;
	white-space:nowrap;
}